@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 100vh;
  margin: 0% auto;
}

.gameContainer {
  padding: 30px;
  border-radius: 5px;
  margin: 20% 3%;
}

.BoardContainer {
  padding: 5%;
}

.Board {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.square {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
}

.square > svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

/*
.btn:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.square:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
*/

.status {
  margin-bottom: 10px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.kbd-navigation .square:focus {
  background: #ddd;
}
.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.historyContainer {
  padding: 15px;
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.historyButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-left: solid 4px black;

  background: #f0f0f0;
  width: 100%;

  padding: 5px;
  text-decoration: none;
  margin: 6px;

  animation: fadein 0.5s;
}

.historyButton:hover {
  border-left: solid 10px black;
  background: #c2c2c2;
}

.lilBoard {
  height: 60px;
  width: 60px;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 600px) {
  .gameContainer {
    border: 2px solid steelblue;
  }
}

.FullScreenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: fixed;

  width: 100vw;
  height: 100vh;
  z-index: 99;

  background: #aaaaaa98;
}

.WarningBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 5%;
  min-width: 300px;
}

.WarningBox > * {
  margin: 10px;
}

.draw {
  stroke-dasharray: 2338.5;
  animation: dash2 4s linear;
}
@keyframes dash2 {
  from {
    stroke-dashoffset: 2338.5;
  }
  to {
    stroke-dashoffset: 0;
  }
}
